.admin-panel-container {
  display: flex;
  justify-content: space-around;
}

.administrator-table {
  border-radius: 4px;
  border: 1px solid black;
  padding: 5px;
  background-color: #8080802b;
}

.admin-tools {
  border: 1px solid;
  border-radius: 4px;
  margin: 0 10px 0 0;
  padding: 15px;
  background-color: gray;
}

.admin-tools-label-name {
  color: black;
  font-weight: 600;
  text-align: center;
}

td {
  padding: 5px;
  border: 1px solid #000000;
  text-align: center;
}

th {
  padding: 5px;
  border: 1px solid #000000;
}

.form-submit-admin__btn {
  padding: 5px;
  text-transform: lowercase !important;
  margin: 0 auto !important;
  height: 35px !important;
  letter-spacing: 2px !important;
}

.edit-btn__btn,
.delete-btn__btn {
  cursor: pointer;
  display: inline;
  border: 1px solid #333;
  padding: 5px;
  border-radius: 4px;
  margin: 2px;
}
