.authentication-form {
  margin: 0 auto;
  width: 25%;
  background-color: #0e101c;
  border-radius: 4px;
}

.authentication-form__text {
  margin-left: 15%;
  display: block;
}

.auth {
  display: table;
  height: 100%;
  left: auto;
  margin: 0;
  position: relative;
  top: auto;
  width: 100%;
  vertical-align: middle;
  margin-top: 10%;
}
