.ant-card-head-title {
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.ant-form-item-control-input {
  width: 300px;
}

.ant-card-bordered {
  width: 30%;
  margin: 5% auto 0 auto !important;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-content {
  overflow: hidden;
}

.auth {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  min-height: 100vh;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://img5.goodfon.ru/original/1920x1080/d/e3/jordan-mcgee-lodka-voda-krysha.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.image__text {
  display: block;
  color: white;
  font-size: 45px;
  font-weight: 600;
  font-family: cursive;
  text-align: center;
}

.form {
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: #e5e6e9;
}

.ant-btn {
  margin: 10px 0 0 60px;
}

.ant-btn-primary {
  border-color: #40414d;
  background: #40414d;
}

input#email {
  margin: 0 0 0 32px;
}

input {
  margin: 0 0 0 18px;
}

h1 {
  margin: 0 0 20px 60px;
}

.form__label {
  font-size: 14px;
  font-weight: 600;
  color: #40414d;
  font-family: Verdana;
}

.form__username {
  margin: 0 0 0 42px;
  width: 190px;
}

.form__email,
.form__password,
.form__username,
.form__confirm-password {
  border-radius: 2px;
  font-family: Verdana;
  border: none;
  outline: none;
}

.form__confirm-password {
  margin: 0 0 0 20px;
}

.footer {
  display: flex;
  align-items: baseline;
  margin: 0 0 0 35px;
}

.footer__text {
  display: block;
  margin: 0 -55px 0 0;
  font-size: 12px;
  font-weight: 600;
  color: #40414d;
  font-family: Verdana;
}

.form__area {
  margin: 0 0 20px 0;
}

.form__text-error {
  display: block;
  margin: 0;
  color: red;
}
