.ant-row {
  justify-content: center !important;
}

.ant-menu-overflow {
  justify-content: flex-end;
}

.ant-menu-horizontal {
  background: #f0f2f5 !important;
}
.ant-menu-horizontal {
  margin: 0 0 2% 0 !important;
}
