.navigation {
  display: flex;
  margin: 20px auto 0;
  justify-content: flex-end;
}

.navigation__link {
  display: block;
  margin: 0 10px 0 0;
}

.navigation__text {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.navigation__text:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: flex-start;
  margin-top: 5%;
}
